body, h1, h2, ul{
	margin: 0;
	font-family: 'Montserrat';
	list-style-type: none;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {

	text-decoration: none;

}

.mainContainer {
	background: url("");
	background-size: cover;
	background-color: #318fec; 
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: ;
}

.header {
	display: flex;
	height: 86px;
	align-items: center;
	justify-content: space-between;
	
}

#logo {
	
	margin-left: 30px;
	color: white;
}

#nav {
	
}

#nav li {
	display: inline-block;
	margin-right: 30px;
	font-size: 0.8em;
}

#nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.button {
	padding-left: 20px;
	border-top: px solid #81e0a9;
	padding-right: 20px; 
	background-color: #318FEC;
	text-align: center;
	line-height: 50px;
	border: 2px solid white;
	border-radius: 100px;
	transition: all 0.25s ease-in-out;
}

.button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.button:hover {
	background-color: #68adf1;
}

.jumbotron {

	display: flex;
	flex-direction: row;

}


.landingText {

	display: flex;
	flex-direction: column;
	height: 500px;
	justify-content: center;
	align-items: flex-start;
	margin-left: 10%; 
	flex: 1;


}

.landingText h1 {
	font-size: 3em;
	
	color: white;
	

}

.landingText h2 {

	color: #1561AC;

}

.jumbotronImg {

	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	flex: 1;

}

.jumbotronImg img {


	width: 800px;

}

.about {

	background-color: white;
	display: flex;
	padding: 50px;
	flex-direction: column;

}

.about h1 {

	align-self: center;
	font-size: 2em;
	color: #318fec;

}

.about p {

	color: #c2c2c2;
	font-size: 1.3em;

}

.content {
	display: flex;
	padding: 50px;
	justify-content: center;
	justify-content: space-around; /* removed in mobile to prevent off-centering */
	flex-direction: row;
	height:;
	flex-wrap: wrap;
}

#boxes {

	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	height: 350px;
	width: 300px;
	margin: 20px;
	transform: scale(1);
	transition: transform 0.1s ease-in-out;
}

#boxes:hover {

	transform: scale(1.05);
	border: 1px solid #D8D8D8;

}

#boxes:active {

	transform: scale(1.01);
	border: 1px solid #D8D8D8;

}

#boxes .icons {

	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
	width: 100%;

}

#boxes .icons img {

	width: 70%;

}

#boxes .text {

	display: flex;
	flex-direction: column;
	margin: 0;
	height: 30%;
	width: 100%;
	text-align: center;
	align-self: flex-end;
	align-items: center;
	justify-content: center;
	color: #c2c2c2;


}

#boxes .text p:nth-child(2) {

	margin-top: 0px;
	font-size: 0.8em;
	color: #318FEC;

}

.arrows {
	
	width: 15px;

}



/* Mobile Nav */

#mobileNav {
	display: none;
	list-style-type: none;

}

#navButton {
	display: none;
}

@media screen and (max-width: 600px) {

	.jumbotron {

		margin-top: 50px;
		flex-direction: column;
		padding-bottom: 50px;

	}

	.landingText {

	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	align-items: center;
	margin-left: 0;
	padding: 20px;


	}

	h1 {
		font-size: 3em;
		text-align: center;
		color: white;
	

	}

	h2 {

		text-align: center;
		color: #1561AC;

	}

	#navButton {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 30px;
		height: 30px;
		border: 2px solid white;
		top: 26px;
		right: 30px;
		transition: all 0.2s ease-in-out;
	}

	#navButton:hover {
		background-color: #68adf1;
	}

	#navButton span:nth-child(2) {
		margin-top: 5px;
	}

	#navButton span:nth-child(3) {
		margin-top: 5px;
	}

	#navButton span {
		
		display: block;
		height: 2px;
		background-color: white;
		width: 20px;
	}


	#nav {
		display: none;
	}

	#mobileNav {
		right: 0;
		top: 80px;
		border-radius: 5px;
		box-shadow: 0 0 50px -20px #1a2530;
		position: absolute;
		background-color: #1561AC;
		display: block;
		
		width: 50%;
		margin-right: 30px;
	}

	#mobileNav ul {
		margin: 0;
	}

	#mobileNav a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}

	#mobileNav li {
		padding: 20px;
		
		font-size: 0.8em;
		text-align: center
	}

	#mobileNav li:nth-child(1):active {
		border-radius: 5px 5px 0px 0px;
		padding: 20px;
		background-color: #104d89;
		font-size: 0.8em;
		text-align: center
	}

	#mobileNav li:nth-child(2):active {
		border-radius: 0px 0px 0px 0px;
		padding: 20px;
		background-color: #104d89;
		font-size: 0.8em;
		text-align: center
	}

	#mobileNav li:nth-child(3):active {
		border-radius: 0px 0px 5px 5px;
		padding: 20px;
		background-color: #104d89;
		font-size: 0.8em;
		text-align: center
	}

	#mobileNav li:nth-child(2) {
		border-top: 1px solid #2c70b4;
	}

	#mobileNav li:nth-child(3) {
		border-top: 1px solid #2c70b4;
	}

	.content {
		display: flex;
		padding: 20px;
		justify-content: center; 
		flex-direction: row;
		height:;
		flex-wrap: wrap;
	}

}





