body, h1, h2, ul{
	margin: 0;
	font-family: 'Montserrat';
	list-style-type: none;
	padding: 0;
}

a {

	text-decoration: none;

}

.mainContainer {
	background: url("");
	background-size: cover;
	background-color: #318fec; 
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: ;
}

.header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 86px;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
}

#logo {
	
	margin-left: 30px;
	color: white;
}

#nav {
	
}

#nav li {
	display: inline-block;
	margin-right: 30px;
	font-size: 0.8em;
}

#nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.button {
	padding-left: 20px;
	border-top: px solid #81e0a9;
	padding-right: 20px; 
	background-color: #318FEC;
	text-align: center;
	line-height: 50px;
	border: 2px solid white;
	border-radius: 100px;
	transition: all 0.25s ease-in-out;
}

.button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.button:hover {
	background-color: #68adf1;
}


.landingText {

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 500px;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-left: 10%; 


}

h1 {
	font-size: 3em;
	
	color: white;
	

}

h2 {

	color: #1561AC;

}

.content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 50px;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around; /* removed in mobile to prevent off-centering */
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	height:;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

#boxes {

	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	height: 350px;
	width: 300px;
	margin: 20px;
	-webkit-transform: scale(1);
	        transform: scale(1);
	transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

#boxes:hover {

	-webkit-transform: scale(1.01);

	        transform: scale(1.01);
	border: 1px solid #D8D8D8;

}

#boxes:active {

	-webkit-transform: scale(1.01);

	        transform: scale(1.01);
	border: 1px solid #D8D8D8;

}

#boxes .icons {

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 70%;
	width: 100%;

}

#boxes .icons img {

	width: 70%;

}

#boxes .text {

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;
	margin: 0;
	height: 30%;
	width: 100%;
	text-align: center;
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #D8D8D8;


}



/* Mobile Nav */

#mobileNav {
	display: none;
	list-style-type: none;

}

#navButton {
	display: none;
}

@media screen and (max-width: 600px) {

	.landingText {

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 500px;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 0;
	padding: 20px;


	}

	h1 {
		font-size: 3em;
		text-align: center;
		color: white;
	

	}

	h2 {

		text-align: center;
		color: #1561AC;

	}

	#navButton {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		position: absolute;
		width: 30px;
		height: 30px;
		border: 2px solid white;
		top: 26px;
		right: 30px;
		transition: all 0.2s ease-in-out;
	}

	#navButton:hover {
		background-color: #68adf1;
	}

	#navButton span:nth-child(2) {
		margin-top: 5px;
	}

	#navButton span:nth-child(3) {
		margin-top: 5px;
	}

	#navButton span {
		
		display: block;
		height: 2px;
		background-color: white;
		width: 20px;
	}


	#nav {
		display: none;
	}

	#mobileNav {
		right: 0;
		top: 80px;
		border-radius: 5px;
		box-shadow: 0 0 50px -20px #1a2530;
		position: absolute;
		background-color: #1561AC;
		display: block;
		
		width: 50%;
		margin-right: 30px;
	}

	#mobileNav ul {
		margin: 0;
	}

	#mobileNav a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}

	#mobileNav li {
		padding: 20px;
		
		font-size: 0.8em;
		text-align: center
	}

	#mobileNav li:nth-child(1):active {
		border-radius: 5px 5px 0px 0px;
		padding: 20px;
		background-color: #104d89;
		font-size: 0.8em;
		text-align: center
	}

	#mobileNav li:nth-child(2):active {
		border-radius: 0px 0px 0px 0px;
		padding: 20px;
		background-color: #104d89;
		font-size: 0.8em;
		text-align: center
	}

	#mobileNav li:nth-child(3):active {
		border-radius: 0px 0px 5px 5px;
		padding: 20px;
		background-color: #104d89;
		font-size: 0.8em;
		text-align: center
	}

	#mobileNav li:nth-child(2) {
		border-top: 1px solid #2c70b4;
	}

	#mobileNav li:nth-child(3) {
		border-top: 1px solid #2c70b4;
	}

	.content {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding: 50px;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center; 
		-webkit-flex-direction: row; 
		    -ms-flex-direction: row; 
		        flex-direction: row;
		height:;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

}





